<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.msutormin.demo-touch"
        version   = "0.0.1">
    <name>The New Aveo</name>

    <description>
        Demo Touch App.
    </description>

    <author email="max.sutormin@gmail.com">
        msutormin
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="2.1.0" />
    <preference name="orientation"      value="landscape" />
    <preference name="target-device"    value="android" />
    <preference name="fullscreen"       value="true" />

    <icon src="" />
    <gap:splash src="" />
</widget>
